@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-X: hidden;
}

/* -------------------------------------------------Galeria----------------------------------- */

.title-gal h3 {

    text-align: left;
    font-family: "Marcellus", serif;
    font-size: 54px;
    color: #EC6854;
}

.sectionimg {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: transparent;
}

.sectionimg #img1 {
    background: url('../img/uno.JPG');

}

.sectionimg #img2 {
    background: url('../img/dos.JPG');
}

.sectionimg #img3 {
    background: url('../img/tres.JPG');
}

.sectionimg #img4 {
    background: url('../img/cuatro.JPG');
}

.sectionimg #img5 {
    background: url('../img/cinco.JPG');
}

.sectionimg #img6 {
    background: url('../img/seis.JPG');
}

.sectionimg #img7 {
    background: url('../img/siete.JPG');
}

.sectionimg #img1,
.sectionimg #img2,
.sectionimg #img3,
.sectionimg #img4,
.sectionimg #img5,
.sectionimg #img6,
.sectionimg #img7 {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionimg #img1 p,
.sectionimg #img2 p,
.sectionimg #img3 p,
.sectionimg #img4 p,
.sectionimg #img5 p,
.sectionimg #img6 p,
.sectionimg #img7 p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Marcellus", serif;
    display: none
}

.sectionimg #img1:hover,
.sectionimg #img2:hover,
.sectionimg #img3:hover,
.sectionimg #img4:hover,
.sectionimg #img5:hover,
.sectionimg #img6:hover,
.sectionimg #img7:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    margin: 10px;
    box-shadow: 0px 12px 20px #0000004D;

}

.sectionimg #img1:hover p,
.sectionimg #img2:hover p,
.sectionimg #img3:hover p,
.sectionimg #img4:hover p,
.sectionimg #img5:hover p,
.sectionimg #img6:hover p,
.sectionimg #img7:hover p {
    display: block;
    animation: mostrar .5s ease-in-out;
    background: #00000073;

}

.hov p {
    display: none;
    animation: mostrar 0.5s forwards;
}

@keyframes mostrar {
    to {
        background: #00000073;
        opacity: 1;
    }

    from {
        background: transparent;
        opacity: .5;
    }
}

.hov {
    width: 300px !important;
    opacity: 1 !important;
    filter: contrast(120%);
    margin: 10px;
    box-shadow: 0px 12px 20px #0000004D;
}

.indicadores {
    display: flex;
    margin: 10px;
}

.indica {
    width: 15px;
    height: 8px;
    background: #B9B9B9 0% 0% no-repeat padding-box;
    border-radius: 8px;
    margin: 6px;
    cursor: pointer;
    transition: .5s ease;
}

.activeI {
    background: #FCC417 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    width: 60px;
    height: 8px;
    transition: .5s ease;
}

@media screen and (max-width:991px) {
    .sectionimg {
        width: 600px;
    }
}

@media screen and (max-width:768px) {
    .sectionimg {
        width: 600px;
    }
}

@media screen and (max-width:468px) {
    .sectionimg {
        width: 350px;
        height: 350px;
    }

    .title-gal h3 {
        font-size: 30px;
    }

    .sectionimg #img1 p,
    .sectionimg #img2 p,
    .sectionimg #img3 p,
    .sectionimg #img4 p,
    .sectionimg #img5 p,
    .sectionimg #img6 p,
    .sectionimg #img7 p {
        font-size: 15px;
    }

}

/* ----------------------------------------- */
.grulla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    background: #d2b4de96;
    width: 100%;
    height: 100vh;
    display: none;
}